Django==6.0.3
djangorestframework==3.17.1
psycopg2-binary==2.9.12
django-cors-headers==4.9.0
python-dotenv==1.2.2
google-generativeai==0.8.6
dj-database-url==3.1.2
djangorestframework_simplejwt==5.5.1
django-filter==25.2
drf-spectacular==0.29.0
supabase==2.30.0
Faker
